<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for q in query %}
    <title>{{ q[1] }}</title>
    {% endfor %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel = "stylesheet" href = "../../../../../../../../../static/css/style.css">
</head>
<body>

    <div class="wrapper">
        <!-- Acesso ao Minha Lista e visualização do logo da IMDbSearch -->
        <div class="header">
            <div class="container">
                <img src="../../../../../../../../../static/image/ImdbSearch.png">
                <ul class="navbar">
                     <li><a href="{{ url_for('pesquisa') }}"><b>Pesquisar</b></a></li>
                     <li><a href="{{ url_for('mostrar_filmes') }}"><b>Minha Lista</b></a></li>
                </ul>
            </div>
        </div>

        <!-- Container de título -->
        <div class="container-minha-lista">
            <h1><b>Minha Lista</b></h1>
        </div>
        <!-- fim do container de título -->

        <!-- Container de botẽes -->
        <div class="container" id="container-botao-retornar">
            <!-- Se o route contém o parâmetro 'html' em seu retorno, então adicionar o botão de retornar à pesquisa anterior -->
            {% if html %}
            <button class="botao-retornar-pesquisa" onclick="retornarPesquisa();"><i class="fa-solid fa-arrow-left"></i>Retornar</button>

            <!-- tags span para passar parâmetros ao url através da função 'retornarPesquisa();' do javascript -->
            <span class="hide html" id="formaConsulta">{{ html[0] }}</span>
            <span class="hide html" id="anoMin">{{ html[1] }}</span>
            <span class="hide html" id="anoMax">{{ html[2] }}</span>
            <span class="hide html" id="duracaoMin">{{ html[3] }}</span>
            <span class="hide html" id="duracaoMax">{{ html[4] }}</span>
            <span class="hide html" id="notaMin">{{ html[5] }}</span>
            <span class="hide html" id="notaMax">{{ html[6] }}</span>
            <span class="hide html" id="genero-pesquisa">{{ html[7] }}</span>
            <!-- Caso o route não contenha o parâmetro 'html' em seu retorno, então adicionar o botão de voltar ao método GET da página de /filmes -->
            {% else %}
            <button class="botao-retornar-pesquisa" onclick="retornarFilmes();"><i class="fa-solid fa-arrow-left"></i>Retornar</button>
            {% endif %}
        </div>
        <!-- fim do container de botões -->

        <!-- Container de resultado -->
        <div class="container">
            <div class="container-resultado">
                <div class="grade-resultado">
                    <div class="filme-poster">
    <!-- Para cada filme presente na query do route, listar suas informações como o seguinte: -->
        {% for q in query %}
        <img src="{{ q[12] }}" alt="filme poster">
    </div>
    <div class="filme-infos">
        <h3 class="filme-titulo">{{ q[1] }}</h3>
        <span id="{{ q[0] }}" class="hide id-filme">{{ q[0] }}</span>
        <p class="avaliacao"><i class="fa-sharp fa-solid fa-star"></i><b>{{ q[4] }}</b></p>
        {% if existe_no_banco == false %}
        <button class="botao-adicionar" onclick="adicionarMinhaLista()"><i class="fa-solid fa-circle-plus"></i></button>
        {% else %}
        <button class="botao-remover" onclick="removerMinhaLista()"><i class="fa-solid fa-circle-minus"></i></button>
        {% endif %}
        <ul class="ano-duracao-info">
            <li class="ano"><b>Ano:</b>{{ q[2] }}</li>
            <li class="duracao"><b>Duração:</b> {{ q[3] }} min</li>
        </ul>
        <p class="genero"><b>Gênero:</b> {{ q[5].rstrip(" ") | replace(" ",", ") }}</p>
        <p class="sinopse"><b>Sinopse:</b> {{ q[6] }}</p>
        <p class="escritor"><b>Escrito por:</b> {{ q[7] }}</p>
        <p class="atores"><b>Atores:</b> {{ q[8] }}</p>
        <p class="linguagem"><b>Idioma:</b> {{ q[9] }}</p>
        <p class="pais"><b>País:</b> {{ q[10] }}</p>
        <p class="premios"><b><i class="fas fa-award"></i></b> {{ q[11] }}</p>
    </div>
        {% endfor %}
                </div>
            </div>
        </div>
        <!-- fim do container de resultado -->
    </div>


    <script src="../../../../../../../../../static/js/consumoAPI.js"></script>
    <script src="../../../../../../../../../static/js/minhaLista.js"></script>
</body>
</html>