<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Lista</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
    <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel = "stylesheet" href = "../../../../../../../../static/css/style.css">
</head>
<body>
    
    <div class="wrapper" id="wrapper">
        <!-- Acesso ao Index e visualização do logo da IMDbSearch -->
        <div class="header" id="header">
            <div class="container">
                <img src="../../../../../../../../static/image/ImdbSearch.png">
                <ul class="navbar">
                     <li><a href="{{ url_for('pesquisa') }}"><b>Pesquisar</b></a></li>
                     <li><a href="{{ url_for('mostrar_filmes') }}"><b>Minha Lista</b></a></li>
                </ul>
            </div>
        </div>

        <!-- Container do título -->
        <div class="container-minha-lista" id="container-minha-lista">
            <h1><b>Minha Lista</b></h1>
        </div>
        <!-- fim do container do título -->

        <main>

            <div class="container" id="container-botao-abrir">
                <!-- Botão que abre o formulário que está escondido inicialmente -->
                <button class="botao-abrir-form" onclick="abrirForm()"><i class="fa-solid fa-filter"></i>Filtrar</button>
                <!-- Se o route possui em seu retorno a variável 'resetar', então criar o botão de resetar -->
                {% if resetar == '' %}
                <a class="botao-resetar" href="{{ url_for('mostrar_filmes') }}"><button><i class="fa-solid fa-rotate-left"></i>Resetar</button></a>
                {% endif %}
            </div>

            <div class="container" id="container-parametros-pesquisa">
                <!-- Se o route possui em seu retorno a variável 'parametros', então dispor aqui a marcação de texto gerada pelo backend -->
                {% if parametros %}
                    {{ parametros }}
                {% endif %}
            </div>

            <div class="container" id="consulta-minha-lista">
                <!-- Formulário WTForms do backend -->
                <form class="form-minha-lista" id="form-minha-lista" method="POST" action="/filmes">
                    {{ form.csrf_token }}

                <div class="linha-forma-consulta">
                    <p>
                        {{ form.formaConsulta.label }}
                        {{ form.formaConsulta() }}
                    </p>

                {% if form.formaConsulta.errors %}
                    <ul class="errors">
                    {% for error in form.formaConsulta.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>

                <div class="linha-ano">
                    <p>
                    {{ form.anoMin.label }}
                    {{ form.anoMin() }}
                    </p>

                    {% if form.anoMin.errors %}
                    <ul class="errors">
                        {% for error in form.anoMin.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <p>
                    {{ form.anoMax.label }}
                    {{ form.anoMax() }}
                    </p>

                    {% if form.anoMax.errors %}
                    <ul class="errors">
                        {% for error in form.anoMax.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="linha-duracao">
                    <p>
                    {{ form.duracaoMin.label }}
                    {{ form.duracaoMin() }}
                    </p>

                    {% if form.duracaoMin.errors %}
                    <ul class="errors">
                        {% for error in form.duracaoMin.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <p>
                    {{ form.duracaoMax.label }}
                    {{ form.duracaoMax() }}
                    </p>

                    {% if form.duracaoMax.errors %}
                    <ul class="errors">
                        {% for error in form.duracaoMax.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="linha-nota">
                    <p>
                    {{ form.notaMin.label }}
                    {{ form.notaMin() }}
                    </p>

                    {% if form.notaMin.errors %}
                    <ul class="errors">
                        {% for error in form.notaMin.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <p>
                    {{ form.notaMax.label }}
                    {{ form.notaMax() }}
                    </p>

                    {% if form.notaMax.errors %}
                    <ul class="errors">
                        {% for error in form.notaMax.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="linha-genero">
                    <p>
                        {{ form.genero.label }}
                        {{ form.genero(class="chosen-select") }}
                    </p>

                {% if form.genero.errors %}
                    <ul class="errors">
                    {% for error in form.genero.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                </div>

                <div class="linha-botao">
                <p>
                    <input type="submit" value="Filtrar">
                </p>

                <p>
                    <!-- botão que esconde novamente o formulário -->
                    <button type="button" class="botao-cancelar" onclick="fecharForm()">Fechar</button>
                </p>
                </div>

                </form>
            </div>

            <div class="container" id="minha-lista">
                <div id="mostrar-lisa-filmes">
                        <!-- Mensagens flash geradas pelo route -->
                        {% for message in get_flashed_messages() %}
                             <p class="lista-vazia">{{ message }}</p>
                        {% endfor %}

                    <!-- Se no retorno do route tiver o parâmetro 'query', então gerar o bloco seguinte -->
                    {% if query %}
                            <table class="table-minha-lista" id="table-minha-lista">
                            <!-- Para cada filme presente na query do route, listar suas informações como o seguinte: -->
                            {% for q in query %}
                                <tr>
                                    <!-- Se no retorno do route estiver presente o parâmetro 'html', gerar as tags A com o url_for para a function 'mostrar_detalhes_filme_reload com seus respectivos parâmetros -->
                                    {% if html %}
                                    <td class="table-poster"><a href="{{ url_for('mostrar_detalhes_filme_reload', imdbID=q[0], formaConsulta=html[0], anoMin=html[1], anoMax=html[2], duracaoMin=html[3], duracaoMax=html[4], notaMin=html[5], notaMax=html[6], genero=html[7]) }}" style="cursor: pointer;"><img src="{{ q[6] }}" alt="" border=3 height=150 width=450></img></a></td>
                                    <td class="table-titulo"><a href="{{ url_for('mostrar_detalhes_filme_reload', imdbID=q[0], formaConsulta=html[0], anoMin=html[1], anoMax=html[2], duracaoMin=html[3], duracaoMax=html[4], notaMin=html[5], notaMax=html[6], genero=html[7]) }}" style="cursor: pointer;">{{ q[1] }}</a></td>
                                    <td class="ano"><a href="{{ url_for('mostrar_detalhes_filme_reload', imdbID=q[0], formaConsulta=html[0], anoMin=html[1], anoMax=html[2], duracaoMin=html[3], duracaoMax=html[4], notaMin=html[5], notaMax=html[6], genero=html[7]) }}" style="cursor: pointer;">{{ q[2] }}</a></td>
                                    <td class="table-duracao"><a href="{{ url_for('mostrar_detalhes_filme_reload', imdbID=q[0], formaConsulta=html[0], anoMin=html[1], anoMax=html[2], duracaoMin=html[3], duracaoMax=html[4], notaMin=html[5], notaMax=html[6], genero=html[7]) }}" style="cursor: pointer;">{{ q[3] }} min</a></td>
                                    <td class="table-genero"><a href="{{ url_for('mostrar_detalhes_filme_reload', imdbID=q[0], formaConsulta=html[0], anoMin=html[1], anoMax=html[2], duracaoMin=html[3], duracaoMax=html[4], notaMin=html[5], notaMax=html[6], genero=html[7]) }}" style="cursor: pointer;">{{ q[4].rstrip(" ") | replace(" ",", ") }}</a></td>
                                    <td class="table-avaliacao"><a href="{{ url_for('mostrar_detalhes_filme_reload', imdbID=q[0], formaConsulta=html[0], anoMin=html[1], anoMax=html[2], duracaoMin=html[3], duracaoMax=html[4], notaMin=html[5], notaMax=html[6], genero=html[7]) }}" style="cursor: pointer;"><i class="fa-sharp fa-solid fa-star"></i>{{ q[5] }}</a></td>
                                    <td class="table-botao">
                                        <span id="{{ q[0] }}" class="hide id-filme">{{ q[0] }}</span>
                                        <a href="{{ url_for('apagar_filme_reload', imdbID=q[0], formaConsulta=html[0], anoMin=html[1], anoMax=html[2], duracaoMin=html[3], duracaoMax=html[4], notaMin=html[5], notaMax=html[6], genero=html[7]) }}" style="cursor: pointer;"><button class="table-botao-remover"><i class="fa-solid fa-circle-minus"></i></button></a>
                                    </td>
                                    <!-- Se no retorno do route NÃO estiver presente o parâmetro 'html', gerar as tags A com o url_for para a function 'mostrar_detalhes_filme com seus respectivos parâmetros -->
                                    {% else %}
                                    <td class="table-poster"><a href="{{ url_for('mostrar_detalhes_filme', imdbID=q[0]) }}" style="cursor: pointer;"><img src="{{ q[6] }}" alt="" border=3 height=150 width=450></img></a></td>
                                    <td class="table-titulo"><a href="{{ url_for('mostrar_detalhes_filme', imdbID=q[0]) }}" style="cursor: pointer;">{{ q[1] }}</a></td>
                                    <td class="ano"><a href="{{ url_for('mostrar_detalhes_filme', imdbID=q[0]) }}" style="cursor: pointer;">{{ q[2] }}</a></td>
                                    <td class="table-duracao"><a href="{{ url_for('mostrar_detalhes_filme', imdbID=q[0]) }}" style="cursor: pointer;">{{ q[3] }} min</a></td>
                                    <td class="table-genero"><a href="{{ url_for('mostrar_detalhes_filme', imdbID=q[0]) }}" style="cursor: pointer;">{{ q[4].rstrip(" ") | replace(" ",", ") }}</a></td>
                                    <td class="table-avaliacao"><a href="{{ url_for('mostrar_detalhes_filme', imdbID=q[0]) }}" style="cursor: pointer;"><i class="fa-sharp fa-solid fa-star"></i>{{ q[5] }}</a></td>
                                    <td class="table-botao">
                                        <span id="{{ q[0] }}" class="hide id-filme">{{ q[0] }}</span>
                                        <a href="{{ url_for('apagar_filme', imdbID=q[0]) }}" style="cursor: pointer;"><button class="table-botao-remover"><i class="fa-solid fa-circle-minus"></i></button></a>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </table>

                    {% endif %}
                </div>
            </div>
        </main>
    </div>


    <script src="../../../../../../../../static/js/minhaLista.js"></script>
    <script src="../../../../../../../../static/js/chosen.js"></script>
    <script src="../../../../../../../../static/js/tabela.js"></script>
</body>
</html>